In [1]:
def test():
    print("Hello Ayush")

In [2]:
test()

Hello Ayush

In [3]:
def ayush():
    pass

In [5]:
def test1():
    return "hello ayush"

In [6]:
test1()

'hello ayush'

In [10]:
test1() + "Ayush Raj Karan"

'hello ayushAyush Raj Karan'

In [11]:
def test2():
    a=8/4+2
    return a

In [12]:
test2()

4.0

In [22]:
def test3(a,b):
    return a+b

In [23]:
test3(2,3)

5

In [24]:
test3("ayush","raj")

'ayushraj'

In [25]:
l =[1,2,3,4,5,"ayush","yushsa",True,[1,2,443]]

In [26]:
l1=[]
for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)

In [27]:
l1

[1, 2, 3, 4, 5]

In [28]:
def test4():
    l1=[]
    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
    return l1

In [31]:
test4()

[1, 2, 3, 4, 5]

In [37]:
def test8():
    a=[]
    for i in l:
        if type(i)== list:
            for j in i:
                a.append(j)
        else:
            if type(i) == int or type(i) == float:
                a.append(i)
    return l

In [38]:
test8()

[1, 2, 3, 4, 5, 'ayush', 'yushsa', True, [1, 2, 443]]