set is also same as list and tuple but the only defference is that it only takes immutable objects as input and mutable like list cannot be access here

In [1]:
s={}

In [2]:
type(s)

dict

In [3]:
s={1,2,3,4}

In [4]:
type(s)

set

In [5]:
s1={1,2,3,"ayush",False,[1,2,3]}

TypeError: unhashable type: 'list'

In [6]:
s2={1,2,3,"ayush",True,(1,2,3)}

In [7]:
s2

{(1, 2, 3), 1, 2, 3, 'ayush'}

set build an unordered collection of data and it removes all the duplicate data from the set

In [8]:
s3={1,2,3,3,4,4,55,55,66,33,2,3,1,4,5,33,55,"ayush","Ayush"}

In [18]:
a1={223,121,434,5,324,43,55,23,"ayush",32,44,233,435}

In [19]:
a1

{121, 223, 23, 233, 32, 324, 43, 434, 435, 44, 5, 55, 'ayush'}

In [9]:
s3

{1, 2, 3, 33, 4, 5, 55, 66, 'Ayush', 'ayush'}

In [12]:
l1=[1,2,3,4,5,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,"ayush","Ayush"]

In [13]:
l1

[1,
 2,
 3,
 4,
 5,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 'ayush',
 'Ayush']

In [14]:
l1=set(l1)

In [15]:
l1

{1, 2, 3, 4, 5, 'Ayush', 'ayush'}

In [16]:
l1=list(set(l1))

In [17]:
l1

[1, 2, 3, 4, 5, 'Ayush', 'ayush']

set always try to add a unique element and it never allows duplicacy

In [20]:
s4={1,2,4,2,33,23,43,53,"ayush"}

In [21]:
s4.add(54)

In [22]:
s4

{1, 2, 23, 33, 4, 43, 53, 54, 'ayush'}