Python Sets

Sets are unordered collection of data items. They store multiple items in a single variables. Set items are seperated by commas and enclosed within curly brackets{}. Sets are unchangeable, meaning you cannot change items of the set once created. Sets do not contain duplicate items.

In [1]:
s={2,3,4,2,3,4,5,3,2,5}
print(s)

{2, 3, 4, 5}

In [1]:
info ={"carla",19,False,4.6,19}
print(info)

{False, 19, 4.6, 'carla'}

The items from the set occur in random order and hence they cannot be accessed using index numbers. Also sets do not allow duplicate values.

In [3]:
a ={}

In [4]:
type(a)

dict

In [10]:
for i in info:
    print(i)

False
19
4.6
carla

Joining Sets

Sets in python more or less work in the same way as sets in mathematics. We can perform operations like union and intersection on the sets just like in mathematics.

I. union() and update():

The union() and update() methods prints all items that are present in the two sets. The union() method returns a new set whereas update() method adds item into the existing set from another set.

In [1]:
    s1={1,2,5,6}
    s2={3,6,7}
    print(s1.union(s2))

{1, 2, 3, 5, 6, 7}

In [12]:
s1,s2

({1, 2, 5, 6}, {3, 6, 7})

In [13]:
s1.update(s2)

In [14]:
s1

{1, 2, 3, 5, 6, 7}

II. Intersection and Intersection_update():

The intersection() and intersection_update() method prints only items that are similar to both the sets.The intersection() method returns a new set whereas intersection_update() method updates into the existing set from snother set.

In [3]:
cities ={"Tokyo","london","brazil","Madrid"}
cities2= {"Tokyo","Seoule","Kabul","Madrid"}
cities3=cities.intersection(cities2)
print(cities3)

{'Tokyo', 'Madrid'}

In [5]:
cities.intersection_update(cities2)
print(cities)

{'Tokyo', 'Madrid'}

In [7]:
print(cities)

{'Tokyo', 'Madrid'}

In [2]:
s1.intersection(s2)

{6}

III. Symmetric_difference and symmetric_difference_update():

The symmetric_different() and symmetric_difference_update() methods prints only items that are not similar to both the sets. The symmetric_difference() method returns a new set whereas symmetric_difference_update() method updates into the existing set from another set.

A âˆ† B = A U B - A C B

In [11]:
s={"Ayush","Rahul","Tulsi"}
t={"Rohan","Rahul","Tulsi"}
s.intersection(t)

{'Rahul', 'Tulsi'}

In [12]:
s.symmetric_difference(t)

{'Ayush', 'Rohan'}

In [13]:
s.symmetric_difference_update(t)

In [14]:
print(s)

{'Rohan', 'Ayush'}

IV. difference() and difference_update():

The difference() and difference_update() methods prints only items that are only present in the original set and not in both the sets. The difference() method returns a new set whereas difference_update() method update into the existing set from another set.

A-B

In [2]:
t= {"Ayush","Rohan","Sonal"}
u= {"Ayush","Isha","Zishan"}
t.difference(u)

{'Rohan', 'Sonal'}

In [3]:
t

{'Ayush', 'Rohan', 'Sonal'}

In [7]:
t.difference_update(u)

In [8]:
t

{'Rohan', 'Sonal'}

Set methods:

There are several in-built methods used for the manipulation of set. They are explained below

isdisjoint():

The isdisjoint() method check if items of given set are present in another set. This method returns false if items are present, else it returns True.

In [12]:
yu={"Ayush","Maiya","Arjun"}
hu={"Ayush","Raj","Karan"}
print(yu.isdisjoint(hu))

False

issuperset():

The issuperset() method check if all the items of a particular set are present in the original set. It returns True if all the items are present, else it returns False.

In [16]:
t={"Ayush","Isha","Modi"}
u={"Yuhan","Kishan"}
print(t.issuperset(u))

False

issubset():

The issubset() method checks if all the items of the original set are present in the particular set. It returns True if all the items are present, else it returns False

In [8]:
cities= {"Tokyo","Australia","India"}
cities2= {"India"}

In [9]:
print(cities2.issubset(cities))

True

add()

If you want to add a single item to the set uuse the add() method.

In [10]:
cities.add("United Kingdom")

In [11]:
print(cities)

{'India', 'Australia', 'Tokyo', 'United Kingdom'}

Update()

If you want add more than 1 item , simply create another set or any other iterable object(list, tuple, dictionary), and use the update() method to add it into the existing set.

In [16]:
cities= {"Tokyo","Australia","India"}
cities2= {"USA","Sydney","Ukrain"}
cities.update(cities2)
print(cities)

{'Australia', 'India', 'USA', 'Sydney', 'Ukrain', 'Tokyo'}

remove/discard()

We can use remove/discard() methods to remove items from list.

In [22]:
cities.remove("India")
print(cities)

{'Australia', 'Sydney', 'Ukrain'}

In [23]:
cities2.discard("USA")
print(cities2)

{'Sydney', 'Ukrain'}

Difference between remove() and discard method is that, If we try to delete an item which is not present in set, then remove() raises an error, whereas discard() does not raise any error.

Ex.

In [24]:
cities.remove("Tokyo2")
print(cities)

KeyError: 'Tokyo2'

In [26]:
cities.discard("Tokyo2")
print(cities)

{'Australia', 'Sydney', 'Ukrain'}

pop()

This method removes the last item of the set but the catch is that we don't know which item gets popped as sets are unordered. However, you can access the popped utem if you pop() method to a variable.

In [27]:
item= cities.pop()
print(cities)
print(item)

{'Sydney', 'Ukrain'}
Australia

del
del is not a method, rather it is a keyword which deletes the set entirely.

In [28]:
del cities

In [29]:
print(cities)

NameError: name 'cities' is not defined

clear()

This method clears all items in the set and prints an empty set.

In [30]:
u= {"Ayuhs","Raj","karan"}

In [31]:
u.clear()

check if item exists

You can also check if an item exists in the set or not.

In [33]:
info ={"Carla",19,22.44,True}
if "carla" in info:
    print("Carla is present")
else:
    print("Carla is absent")

Carla is absent

In [32]:
print(u)

set()

Revision of Sets

In [3]:
s={"calcium", "bromine", 55, 342,636,2,554,2}

In [4]:
print(s)

{2, 55, 342, 'bromine', 554, 636, 'calcium'}

In [6]:
ayush= (1,44,64,22,5334,2,112,42,"Harry")

In [7]:
print(set(ayush))

{64, 1, 2, 42, 44, 112, 5334, 22, 'Harry'}

In [9]:
for i in s:
    print(i)

2
55
342
bromine
554
636
calcium