In [3]:
t= (2,3,4,5,"ayush",5+33j,True,33.4,[1,2,4,5,6])

In [4]:
t

(2, 3, 4, 5, 'ayush', (5+33j), True, 33.4, [1, 2, 4, 5, 6])

In [5]:
type(t)

tuple

In [6]:
len(t)

9

In [7]:
t[2]

4

In [8]:
t[-1]

[1, 2, 4, 5, 6]

In [9]:
t[::-1]

([1, 2, 4, 5, 6], 33.4, True, (5+33j), 'ayush', 5, 4, 3, 2)

In [10]:
t[::2]

(2, 4, 'ayush', True, [1, 2, 4, 5, 6])

In [12]:
t[1:2:3]

(3,)

In [13]:
t

(2, 3, 4, 5, 'ayush', (5+33j), True, 33.4, [1, 2, 4, 5, 6])

In [14]:
t[0]

2

In [15]:
t[0]="yuhu"

TypeError: 'tuple' object does not support item assignment

tuples are same as list but the only reason which made the difference between tuple and list is list is mutable and tuple is immutable like string.

In [16]:
t.count(2)

1

In [17]:
t.index(2)

0